POSTGRES_USER=bank_user
POSTGRES_PASSWORD=change-me
POSTGRES_EXTERNAL_PORT=5433

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
KEYCLOAK_DB_USER=keycloak_admin
KEYCLOAK_DB_PASSWORD=change-me

SPRING_SECURITY_USER_NAME=user
SPRING_SECURITY_PASSWORD=change-me

BILL_DB_USER=bill_service_admin
BILL_DB_PASSWORD=change-me
BILL_SERVICE_PORT=8082

ACCOUNT_DB_USER=account_service_admin
ACCOUNT_DB_PASSWORD=change-me
ACCOUNT_SERVICE_PORT=8081

DEPOSIT_DB_USER=deposit_service_admin
DEPOSIT_DB_PASSWORD=change-me
DEPOSIT_SERVICE_PORT=8083
DEPOSIT_MIN_AMOUNT=10.00

NOTIFICATION_DB_USER=notification_service_admin
NOTIFICATION_DB_PASSWORD=change-me

SANDBOX_DEPOSITS_ENABLED=false

RABBITMQ_USERNAME=bankmq
RABBITMQ_PASSWORD=change-me
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_PUBLISHER_CONFIRM_TIMEOUT=5s
RABBITMQ_EXTERNAL_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

DISCOVERY_SERVICE_PORT=8761
NOTIFICATION_SERVICE_PORT=9999
GATEWAY_SERVICE_PORT=8989

MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=mail@example.com
MAIL_PASSWORD=change-me
